* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
body {
  background: #edf1ed;
}
.active-header {
  width: 750px;
  background: #fff;
  position: fixed;
  height: 210px;
  z-index: 999;
  margin-top: 0;
}
.active-header .header-title {
  width: 100%;
  height: 126px;
  border-bottom: 1px solid #989898;
  display: flex;
  flex-direction: row;
}
.active-header .header-title .img-wrap {
  height: 96px;
}
.active-header .header-title .img-wrap img {
  margin-top: 57px;
  margin-left: 30px;
}
.active-header .header-title .active-titleName {
  font-size: 36px;
  color: #000000;
  margin-top: 60px;
  margin-left: 216px;
}
.active-header .header-subfield {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e3e3e3;
}
.active-header .header-subfield .subfield-wrap {
  display: flex;
  font-size: 30px;
  color: #666666;
  height: 100%;
}
.active-header .header-subfield .subfield-wrap li {
  width: 250px;
  height: 100%;
  padding-top: 25px;
  box-sizing: border-box;
  padding-left: 100px;
}
.active-contentWrap {
  width: 100%;
  margin-bottom: 16px;
}
#contentImg-wrap{
	margin-top: 0;
}
.active-contentWrap .contentImg-wrap {
  position: relative;
}
.active-contentWrap .contentImg-wrap .actimg-01 {
  position: absolute;
  left: 60px;
}
.active-contentWrap .contentImg-wrap .active-backImg {
  width: 750px;
  height: 500px;
  background: url(../img/1.jpg) no-repeat center;
  background-size: cover;
}
.active-contentWrap .contentImg-wrap .active-messageWrap {
  position: absolute;
  display: flex;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 53px;
  color: #FFFFFF;
}
.active-contentWrap .contentImg-wrap .active-messageWrap .active-name {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 30px;
}
.active-contentWrap .contentImg-wrap .active-messageWrap .active-endTime {
  font-size: 24px;
  margin-top: 12px;
  margin-left: 226px;
}
.active-contentWrap .active-playersWrap {
  width: 100%;
  height: 110px;
  background: #fff;
  display: flex;
  flex-wrap: nowrap;
}
.active-contentWrap .active-playersWrap .active-playersNum {
  font-size: 24px;
  line-height: 110px;
  margin-left: 30px;
}
.active-contentWrap .active-playersWrap .pho-wrap {
  width: 545px;
  margin-top: 30px;
  margin-left: 28px;
  display: flex;
}
.active-contentWrap .active-playersWrap .pho-wrap .player-pho {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: cyan;
  margin-right: 11px;
}

.main-wrap{
	position: fixed;
	overflow: scroll;
	padding-top: 210px;
	top: 0;
	bottom: 0;
}
